/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/* 
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;		
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 1.5em;
	color: #222;
}

::selection {
	background-color: #FF4E4E;
}

.navbar {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: rgba(0, 0, 0, 0);
	/* background-color: #4EBFFF; */
	font-size: 1.5em;
	padding: 1em;
	position: fixed;
	width: 100%;
	transition: 0.4s all;
}

.navbarcolor {
	background-color: #fbb8ac;
	transition: 0.3s all;
}

.navbar a {
	color: white;
	text-decoration: none;
}

.navlinks {
	padding-left: 0.75em;
}

.homelink {
	text-align: left;
	max-width: 1.3em;
}

.titlebox {
	font-family: "Lato";
	background-color: #fbb8ac;
	color: white;
	display: grid;
	grid-template-columns: 0.25fr 1fr 0.5fr 1fr 0.25fr;
	padding-bottom: 2em;
	background-image: url("../img/bg.jpg");
	background-size: cover;
	padding-top: 3em;
}

.titlebox ::selection {
	background-color: #3e97ca;
}

.titlebox2 {
	font-family: "Lato";
	background-color: #fbb8ac;
	color: white;
	display: grid;
	grid-template-columns: 0.25fr 1fr 0.5fr 1fr 0.25fr;
	padding-bottom: 2em;
	background-image: url("../img/bg2.jpg");
	background-size: cover;
	padding-top: 3em;
}

.titlebox2 ::selection {
	background-color: #3e97ca;
}

.titlebox3 {
	font-family: "Lato";
	background-color: #fbb8ac;
	color: white;
	display: grid;
	grid-template-columns: 0.25fr 1fr 0.5fr 1fr 0.25fr;
	padding-bottom: 2em;
	background-image: url("../img/bg3.jpg");
	background-size: cover;
	padding-top: 3em;
}

.titlebox3 ::selection {
	background-color: #3e97ca;
}

.titlebox4 {
	font-family: "Lato";
	background-color: #fbb8ac;
	color: white;
	display: grid;
	grid-template-columns: 0.25fr 1fr 0.5fr 1fr 0.25fr;
	padding-bottom: 2em;
	background-image: url("../img/bg4.jpg");
	background-size: cover;
	padding-top: 3em;
}

.titlebox5 {
	font-family: "Lato";
	background-color: #fbb8ac;
	color: white;
	display: grid;
	grid-template-columns: 0.25fr 1fr 0.5fr 1fr 0.25fr;
	padding-bottom: 2em;
	background-image: url("../img/bg5.jpg");
	background-size: cover;
	padding-top: 3em;
}

.titlebox4 ::selection {
	background-color: #3e97ca;
}

.title {
	font-size: 6em;
	line-height: 1.1em;
	grid-column: 2/3;
}

.buttons {
	grid-column: 4/5;
	display: grid;
	align-items: center;
    justify-content: center;
}

.buttons a {
	color: black;
	text-decoration: none;
	font-size: 1.1em;
}

.buttons p {
	text-align: center;
}

.b1 {
	background: white;
	width: 10em;
    height: 6em;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: end;
}

.b2 {
	background: white;
	width: 10em;
    height: 6em;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.b3 {
	background: white;
	width: 10em;
    height: 6em;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: start;
}

.subtitle {
	grid-column: 2/5;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	font-weight: normal;
	max-width: 50%;
}

.pagetitle {
	font-size: 4em;
	line-height: 1.1em;
	grid-column: 2/5;
}

.sectiontitle1 {
	color: #007F87;
	padding-top: 6em;
	margin-top: -3em;
	font-size: 1.5em;
	line-height: 1.3em;
}

.sectiontitle {
	color: #007F87;
	margin-top: 3em;
	font-size: 1.5em;
	line-height: 1.3em;
}

.text {
	margin-left: 10%;
	margin-right: 30%;
	max-width: 800px;
}

.quote {
	margin-left: 5%;
	font-style: italic;
}

.row {
	display: flex;
	margin-left: 7%;
	margin-right: 5%;
}

.column {
	margin-right: 1em;
}

.column h3 {
	color: #007F87;
}

.column a {
	color: #222;
	text-decoration: none;
}

.chaptermenu {
	margin-left: 5.3%;
}

.text hr {
	border: 1px solid #007F87;
    margin-top: 7.5em;
    margin-bottom: 8em;
}

@media (max-width: 800px) {
	.chaptermenu {
		padding-top: 3em;
    	margin-top: -5em;
	}
}
 
@media (min-width: 900px) {
	.titlebox3 {
		background-position: center;
	}
}

@media (min-width: 1050px) {
	.titlebox {
		background-position-y: 60%;
	}

	.titlebox2 {
		background-position: center;
	}

	.titlebox4 {
		background-position: center;
	}

	.titlebox5 {
		background-position: center;
	}
}

/* ------------------------------------------------------------ */
/* media query containing styles for larger screens */
@media (max-width: 720px) {

	.navbar {
		text-align: center;
		font-size: 1.2em;
	}

	.navlinks {
		padding-left: 0.30em;
		padding-right: 0.30em;
	}

	.titlebox {
		display: block;
		padding-top: 5em;
	}

	.titlebox2 {
		display: block;
		padding-top: 5em;
	}

	.titlebox3 {
		display: block;
		padding-top: 5em;
	}

	.titlebox4 {
		display: block;
		padding-top: 5em;
	}

	.titlebox5 {
		display: block;
		padding-top: 5em;
	}

	.title {
		font-size: 3em;
		/* text-align: center; */
		margin: 0.5em;
		margin-top: 0em;
	}

	.buttons a {
		font-size: 1em;
	}

	.b1 {
		margin-bottom: 1em;
	}

	.b2 {
		margin-bottom: 1em;
	}

	.subtitle {
		margin: 1em;
		max-width: 100%;
	}

	.pagetitle {
		font-size: 2em;
		margin: 0.5em;
		margin-top: 0em;
	}

	.text {
		margin: 1.5em;
	}

	.sectiontitle {
		margin-top: 2em;
	}

	.sectiontitle1 {
		padding-top: 5em;
	}

	.row {
		display: block;
		margin: 1.5em;
	}

} /* end media query */
