/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/* 
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;		
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

::selection {
	background-color: #FF4E4E;
}

.navbar {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #4EBFFF;
	font-size: 1.5em;
	padding: 1em;
}

.navbar a {
	color: white;
	text-decoration: none;
}

.navlinks {
	padding-left: 0.75em;
}

.titlebox {
	font-family: "Lato";
	background-color: #4EBFFF;
	color: white;
	display: grid;
	grid-template-columns: 0.25fr 1fr 0.5fr 1fr 0.25fr;
	padding-bottom: 2em;
}

.titlebox ::selection {
	background-color: #3e97ca;
}

.title {
	font-size: 13vh;
	line-height: 1.1em;
	grid-column: 2/3;
}

.buttons {
	grid-column: 4/5;
	display: grid;
	align-items: center;
    justify-content: center;
}

.buttons a {
	color: black;
	text-decoration: none;
	font-size: 1.1em;
}

.buttons p {
	text-align: center;
}

.b1 {
	background: white;
	width: 10em;
    height: 6em;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: end;
}

.b2 {
	background: white;
	width: 10em;
    height: 6em;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.b3 {
	background: white;
	width: 10em;
    height: 6em;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: start;
}

.subtitle {
	grid-column: 2/5;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	font-weight: normal;
}

.sectiontitle {
	color: #007F87;
}



/* ------------------------------------------------------------ */
/* media query containing styles for larger screens */
@media (max-width: 720px) {

	.navbar {
		text-align: center;
		font-size: 1.2em;
	}

	.titlebox {
		display: block;
	}

	.title {
		font-size: 3em;
		/* text-align: center; */
		margin: 0.5em;
		margin-top: 0em;
	}

	.buttons a {
		font-size: 1em;
	}

	.b1 {
		margin-bottom: 1em;
	}

	.b2 {
		margin-bottom: 1em;
	}

	.subtitle {
		margin: 1em;
	}

} /* end media query */
